:root {
  /* COLOR PALETTE */
  /* Primary color */
  --c-first-main: hsl(273, 75%, 66%);
  --c-second-main: hsl(240, 73%, 65%);
  --c-third-main: hsl(14, 88%, 65%);
  --c-fourth-main: hsl(238, 29%, 16%);
  --c-fifth-main: hsl(237, 12%, 33%);
  --c-sixth-main: hsl(240, 6%, 50%);
  --c-seventh-main: hsl(240, 5%, 91%);
  /* Gradient color */
  --bg-first: linear-gradient(var(--c-first-main), var(--c-second-main));
  /* TYPOGRAPHY */
  --f-first: "Kumbh Sans", sans-serif;
  /* FONT SIZE */
  /* primary */
  --fp-xxlarge: 36px;
  --fp-xlarge: 28px;
  --fp-large: 24px;
  --fp-base: 18px;
  --fp-small: 16px;
  --fp-smaller: 12px;
  /* LAYOUT */
  --header-height: 3rem;
  --header-margin: 1rem;
  --gutter: 16px;
  --max-width: 1240px;
  --show-element: none;
  /* THEME  */
  /* border radius */
  --br-lg: 20px;
  /* shadow */
  --box-shadow: 0 25px 50px -12px var(--c-fifth-main);
  /* Duration */
  --duration-animation-base: 0.3s ease-out;
  /* font weight */
  --regular: 400;
  --semi-bold: 600;
  --bold: 700;
}

@media only screen and (min-width: 1024px) {
  :root {
    /* LAYOUT */
    --header-height: 4rem;
    --header-margin: 2rem;
    --show-element: block;
  }
}
