.l-container,
.l-container--full {
  max-width: var(--max-width);
  margin-left: auto;
  margin-right: auto;
  padding: var(--gutter);
}

.l-container--full {
  max-width: 100%;
}

.l-section {
  margin-top: 60px;
  margin-bottom: 60px;
}
