.card {
  border-bottom: 1px solid var(--c-seventh-main);
}

.card-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.card-head__title,
.card-body__description {
  font-family: var(--f-firt);
  font-size: var(--fp-smaller);
}

.card-head__title {
  margin: var(--gutter) 0;
  color: var(--c-sixth-main);
  font-weight: var(--bold);
}

.card-head:hover .card-head__title {
  color: var(--c-third-main);
}

.card-body {
  height: 0;
  opacity: 0;
  transition: height var(--duration-animation-base);
}

.card-body__description {
  color: var(--c-sixth-main);
  font-weight: var(--regular);
  margin-bottom: var(--gutter);
}

/* active accordion */
.card-head.active .card-head__title {
  font-weight: var(--bold);
  color: var(--c-fourth-main);
}

.card-head.active .card-head__icon {
  transition: transform var(--duration-animation-base);
  transform: rotate(180deg);
}
