/* Tipografia  - Libel Suit */

/* Tipografia Secundaria - Oxygen */
@font-face {
  font-family: "Kumbh Sans";
  src: url(./fonts/kumbhsans-regular.woff2) format("woff2");
  font-weight: 400;
  font-style: regular;
}

@font-face {
  font-family: "Kumbh Sans";
  src: url(./fonts/kumbhsans-bold.woff2) format("woff2");
  font-weight: 700;
  font-style: bold;
}
